* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
}

.title {
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.title h2 {
  font-size: 2.4rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
}

.container figure {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container figure img {
  width: 60%;
  object-fit: cover;
}

.description h1 {
  font-size: 6.4rem;
  margin-bottom: 4rem;
}

.description p {
  display: block;
  width: 40rem;
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

.description button {
  padding: 1.8rem;
  font-size: 1.4rem;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Space Mono', monospace;
}

.footer {
  height: 10vh;
  text-align: center;
  font-size: 1.4rem;
}

@media screen and (max-width: 480px) {
  .title {
    margin: 2rem 0 4rem;
  }
  .container {
    display: block;
    padding: 0 2rem;
    height: auto;
  }
  .container figure {
    margin: 2rem 0;
  }
  .description h1 {
    font-size: 4.8rem;
  }
  .description p {
    font-size: 1.8rem;
  }

  .footer {
    margin: 2rem 0 1rem 0;
  }
}